.search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

.search-form input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px 0 0 8px;
    outline: none;
}

.search-form button {
    padding: 10px 20px;
    border: none;
    background: #4e7df2;
    color: white;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}

/* GALERİ GRID DÜZENİ */
.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

/* GÖRSEL KART */
.gallery-item {
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid black;
    background-color: #fff;
    transition: transform 0.25s ease;
}

.gallery-item:hover {
    transform: scale(1.03);
}

/* GÖRSELLER */
.gallery-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

/* ALT BİLGİ KISMI */
.info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    font-size: 14px;
    color: #333;
}

.info p {
    margin: 5px 0;
}

.load-more {
    margin: 30px auto;
    display: block;
    padding: 12px 25px;
    font-size: 16px;
    color: white;
    background-color: #4e7df2;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}